{% extends 'layouts/app' %}

{% block content %}
    <div class="container">
        {% set current_user = user %}

        <div class="row justify-content-center">
            {% for user in users %}
                <div class="col-md-8 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                {{ __('auth.name') }}:
                                <a href="{{ route('user.profile', {'user_id': user.id}) }}">{{ user.name }}</a>
                            </div>

                            <div class="card-subtitle text-muted">
                                {{ __('Registered at:') }} {{ user.created_at|date('d.m.Y H:i') }}
                            </div>
                        </div>

                        <div class="card-footer">
                            {% if subscriptions.contains('user_id', user.id) %}
                                <a href="{{ route('user.unsubscribe', {'user_id': user.id}) }}" class="btn btn-secondary">{{ __('Unsubscribe') }}</a>
                            {% else %}
                                <a href="{{ route('user.subscribe', {'user_id': user.id}) }}" class="btn btn-secondary">{{ __('Subscribe') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
