{% extends 'layouts/app' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ __('post.create_form_title') }}</div>

                    <div class="card-body">
                        <form method="POST" action="{{ route('posts.new') }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />

                            <div class="form-group">
                                <label for="message" class="col-md-4 col-form-label">{{ __('post.form_message_title') }}</label>

                                <div class="col-md-8">
                                    <textarea id="message" class="form-control form-control-lg" name="message" required autofocus></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tags" class="col-md-4 col-form-label">{{ __('post.form_tags_title') }}</label>

                                <div class="col-md-8">
                                    <input type="text" id="tags" class="form-control form-control-lg" name="tags">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="is_hidden" name="is_hidden">

                                        <label class="form-check-label" for="is_hidden">
                                            {{ __('post.form_for_subscribers_only_title') }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        {{ __('post.create_form_save_button') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
